[#{@request.host}] User Activity
========================================
\
\Login for #{@user.first_name} #{@user.last_name}, @#{@user.username}
\
\- DateTime: #{@time}
\- URL: #{@request.url}
\- Remote IP: #{@request.remote_ip}
\- User Agent: #{@request.user_agent}
