<!doctype html>
<html lang="en">
<head>
  <title><%= ENV['SITE_TITLE'] %>: <%= yield :title %></title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= yield :meta_description %>"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="-1"/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="no-store"/>
  <meta http-equiv="Cache-Control" content="post-check=0"/>
  <meta http-equiv="Cache-Control" content="pre-check=0"/>

  <%= action_cable_meta_tag %>

  <!-- GOOGLE FONTS
http://www.google.com/fonts/#UsePlace:use/Collection:Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,300
-->
  <script type="text/javascript">
      WebFontConfig = {
          google: { families: [ 'Open+Sans:400italic,700italic,400,700:latin', 'Roboto+Slab:300,400:latin' ] }
      };
      (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
      })(document);
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->


</head>

<body>
  <%= render 'layouts/google_analytics' %>

  <noscript>
    <div class="alert bg-danger">Please enable JavaScript for this site.</div>
  </noscript>

  <script>
      var cookiesEnabled = ("cookie" in document && (document.cookie.length > 0 ||
        (document.cookie = "test").indexOf.call(document.cookie, "test") > -1));
      if (!cookiesEnabled) {
        document.write('<div class="alert bg-danger">Cookies must be enabled to use this site.</div>')
      }
  </script>

  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <main role="main" class="container <%= yield :css_class %>">
    <% if content_for?(:heading) %>
      <div class="page-header">
        <h1><%= yield :heading %></h1>
      </div>
    <% end %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </main>

  <footer>
    <hr/>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  </footer>
</body>
</html>
